@mixin link {
  color: inherit;
  text-decoration: none;
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin button-red {
  background: transparent;
  border: 1px solid $red;
  border-radius: 5px;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

@mixin line-bottom {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: $activ;
  }
  &:nth-last-child(1) {
    &::before {
      content: none;
    }
  }
}
