@mixin link {
  color: inherit;
  text-decoration: none;
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin button-red {
  background: transparent;
  border: 1px solid $red;
  border-radius: 5px;
  color: inherit;
  cursor: pointer;
}