.root {
  background: $grey;
  display: flex;
  flex-direction: column;
}

.root__list {
  @include reset-list;
  padding-top: 5px;
}

.root__item {
  display: flex;
  &--activ {
    position: relative;
    background: $activ;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 4px;
      background: $white;
    }
  }
}

.root__link {
  padding: 20px 40px;
  padding-right: 95px;
  width: 100%;
  @include link;
}

.root__badge{
  width: 100%;
  .MuiBadge-badge{
    top: 50%;
    right: 30px;
    color: $black;
    background: $white;
  }
}
